@charset "UTF-8";
.row img {	/* 커서가 벗어 날때 부드럽게 하기 위해 추가 */
	transform:scale(1.0);
	transition:transform.5s;
}

.row img:hover {
	cursor: pointer;
	transform:scale(1.02);		/* 확대 설정 */
	transition:transform.5s;	/* 확대 시간 설정 */
	
}